@import '../../sass/variables/colors';

.contributing {
  background: $alt-background-color;
  border-top: 1px solid $alt-border-color;
  color: $dark-text-color;
  font-size: 1.3rem;

  p {
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 20px 0;
  }
}
