@import '../../sass/variables/colors';

.categories {
  & .row {
    margin-bottom: 15px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .category-image {
    max-width: 63px;

    &:before,
    &:after {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
    }

    img {
      width: 100%;
      max-width: 63px;
      vertical-align: middle;
    }
  }

  .category-description {
    margin-left: 19px;
    font-size: 1.5rem;
    color: $alt-dark-text-color;

    h3 {
      color: $darker-text-color;
      margin-bottom: 6px;
    }

    .category-article-count {
      margin-top: 6px;
    }
  }
}
