.page-404 {
  background: $secondary-color;
  color: $light-text-color;

  .flex-wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  .content {
    display: flex;
    flex-direction: column;

    .full-height {
      flex: 1;
    }
  }
}
