.category-page-description {
  color: $alt-dark-text-color;
  margin-bottom: 23px;

  h3 {
    color: $darker-text-color;
    margin-bottom: 6px;
  }
}

.category-article-count {
  margin-top: 6px;
}
