.featured {
  padding: 75px 0;

  .category-item {
    background: $background-color;
    box-shadow: $light-box-shadow;

    .category-image, .category-image > img {
      vertical-align: middle;
    }

    .category-image, .category-description {
      padding: 23px;
    }

    .category-description {
      margin-left: 23px;
      color: $alt-dark-text-color;
      line-height: 1.6;
      font-size: 1.5rem;

      h3 {
        color: $darker-text-color;
        margin-bottom: 6px;
      }
    }
  }
}
