$primary-color: #007896;
$secondary-color: #163150;

$background-color: white;
$alt-background-color: #fafafa;

$border-color: $primary-color;
$alt-border-color: #e8eaed;

$light-text-color: white;
$darker-text-color: black;
$dark-text-color: #4a4a4a;
$alt-dark-text-color: #8b8b8b;
