$font-family: 'Lato', sans-serif;
$mono-font-family: 'Source Code Pro', monospace;

$border-radius: 3px;

$dark-box-shadow: 0px 20px 13.02px 0.98px rgba($secondary-color, 0.1);
$light-box-shadow: 0px 4px 35.34px 2.66px rgba($secondary-color, 0.06);
