@import '../../../../sass/variables/colors';

.mobile-navigation {
  background: $secondary-color;
  width: 320px;
  height: 100%;
  position: absolute;
  top: 81px;
  left: -320px;
  transition: left 0.5s ease;
  border-top: 1px solid #3e546d;
  box-sizing: border-box;
  padding: 25px 35px;

  .mobile-menu {
    margin: 0;
    padding: 0;

    & > li {
      display: block;
      line-height: normal;
      text-transform: uppercase;
      font-size: 1.4rem;

      a {
        color: white;
        font-weight: 300;
        transition: opacity .12s ease;

        &:hover {
          opacity: .8;
        }
      }

      &:not(:last-of-type) {
        margin-bottom: 22px;
      }
    }
  }

  &.visible {
    left: 0;
  }
}
