.breadcrumbs {
  margin: 0;
  padding: 0;

  & li {
    display: inline;

    &:after {
      padding: 0 5px;
      content: '>';
    }

    &:last-of-type:after {
      content: '';
    }
  }

  & a {
    text-decoration: none;
    color: $dark-text-color;
  }
}
