.button {
  display: inline-block;
  padding: 0 23px;
  color: $dark-text-color;
  background: $alt-background-color;
  border-radius: $border-radius;
  border: none;
  font-weight: 600;
  cursor: pointer;
}

.button.primary {
  color: $light-text-color;
  background: $primary-color;
}
