input {
  &:focus {
    outline: none;
  }
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none;
}

form {
  input,
  textarea,
  select {
    font-family: $font-family;
    box-sizing: border-box;
    text-indent: 13px;
    background: $background-color;
    border-radius: $border-radius;
    border: 1px solid $alt-border-color;
    margin-top: 7px;

    &:focus {
      outline: none;
      border-color: rgba($primary-color, 0.5);
    }
  }

  .g-recaptcha {
    margin-top: 7px;
  }

  input,
  select {
    height: 37px;
  }

  input[type=file] {
    height: auto;
    text-indent: 0;
    border: none;
  }

  input[type=submit] {
    text-indent: 0;
  }

  select > option {
    padding: 0;
  }

  textarea {
    resize: vertical;
    min-height: 100px;
    padding: 7px 13px;
    text-indent: 0;
  }

  .field {
    margin-bottom: 15px;

    label {
      display: block;
      font-weight: 600;
    }

    p {
      color: $alt-dark-text-color;
      font-size: 1.3rem;
      margin: 7px 0 0;
    }

    &.full-width > input,
    &.full-width > textarea,
    &.full-width > select {
      width: 100%;
    }

    &.error > input,
    &.error > textarea,
    &.error > select {
      border: 1px solid #f44336;
    }

    p.error {
      color: #f44336;
    }
  }
}
