$content-well-max-width: 1421px;
$lg-max: 92.8125em;

@import '../../../node_modules/@drewbot/sass-flexbox-grid/public/sass-flexbox/scss/main';

.container {
  margin-left: auto;
  margin-right: auto;
}

.full-width {
  width: 100%;
  max-width: 100%;
}
