.sm-icon {
  display: inline-block;
  font: normal normal normal 32px/1 'MyIcons';
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &.sm-16px {
    font-size: 16px;
  }

  &.sm-24px {
    font-size: 24px;
  }

  &.sm-32px {
    font-size: 32px;
  }

  &.sm-48px {
    font-size: 48px;
  }

  &.sm-logo-medium:before {
    content: '\ea02';
  }

  &.sm-logo-discord:before {
    content: '\ea03';
  }

  &.sm-logo-linkedin:before {
    content: '\ea04';
  }

  &.sm-logo-reddit:before {
    content: '\ea05';
  }

  &.sm-logo-facebook:before {
    content: '\ea06';
  }

  &.sm-logo-twitter:before {
    content: '\ea07';
  }

  &.sm-logo-github:before {
    content: '\ea08';
  }
}
