@import '../../../sass/variables/colors';
@import '../../../sass/components/grid';

.header {
  .navigation {
    line-height: 81px;
    white-space: nowrap;

    .hamburger-toggle {
      display: none;
      position: absolute;
      top: 0;
      left: calc(40px - 1rem);

      img {
        vertical-align: middle;
        width: 26px;
      }
    }

    .branding {
      display: inline-block;
      margin-right: 25px;

      & > a > img {
        vertical-align: middle;
      }
    }

    .menu {
      display: inline-block;
      margin: 0;
      padding: 0;

      & > li {
        display: inline-block;

        & > a {
          font-size: 1.4rem;
          font-weight: 700;
          letter-spacing: 1px;
          text-transform: uppercase;
          text-decoration: none;
          color: $light-text-color;
          position: relative;
          margin-right: 27px;
        }

        &:last-of-type > a {
          margin-right: 0;
        }
      }
    }

    .navigation-search {
      .search-input {
        vertical-align: top;
      }
    }
  }

  @media only screen and (max-width: $xs-max) {
    .branding {
      width: 100%;
      text-align: center;
    }
  }

  @media only screen and (max-width: $sm-max) {
    .navigation {
      .menu {
        width: calc(100% - 67px);
        box-sizing: border-box;
        height: 85px;
      }

      .navigation-search {
        line-height: 37px;
        padding-bottom: 10px;
      }
    }
  }
}
